<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Home</title>
</head>
<body>
    <nav class="menu">
        <h3><a href="/views/home-page.html">Keanu Reeves</a></h3>
        <ul>
            <li><a href="/views/about-page.html">About</a></li>
            <li><a href="/views/works-page.html">Works</a></li>
            <li><a href="/views/galery-page.html">Photo Gallery</a></li>

        </ul>
    </nav>
    <div class="about">
        <h1>Galeria</h1>
        <img src="/images/jhonwick.jpg " class="galeria">
        <p class="desc"> John Wick.</p>

    </div>
</body>
</html>