<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Home</title>
</head>
<body>
    <nav class="menu">
        <h3><a href="/">Keanu Reeves</a></h3>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/galery">Photo Gallery</a></li>

        </ul>
    </nav>
    <div class="about">
        <h1>Peliculas</h1>
        <img src="/images/keanujoven.jpg" alt="" class="photo">
        <p class="desc"> Keanu Reeves se convirtió en una joven promesa con su aparición en comedias como El alucinante viaje de Bill y Ted (1991) de Pete Hewitt, aunque él ha manifestado preferir la primera parte de esta historia, titulada Las alucinantes aventuras de Bill y Ted (1989), dirigida por Stephen Herek. Saltó a la fama con su intervención en Mi Idaho privado (1991), del controvertido Gus van Sant, obra considerada por muchos como una auténtica obra maestra del denominado cine independiente de Estados Unidos.</p>
        <img src="/images/keanu mid.jpg" alt="" class="photo">
        <p class="desc"> Su popularidad alcanzó la cota máxima con Matrix (1999), dirigida por los hermanos Wachowski, que fue uno de los éxitos del año. En la película, Keanu Reeves encarna el papel de un especialista en informática que se da cuenta de que la humanidad está manejada por una serie de ordenadores malignos.</p>
        <img src="/images/keanutop.jpg" alt="" class="photo">
        <p class="desc"> Reeves ha seguido actuando mientras exploraba otras formas de arte. En octubre de 2014, interpretó el papel principal en el thriller de acción John Wick. La película, protagonizada por Reeves como un asesino a sueldo retirado, se abrió a críticas positivas y se portó muy bien en la taquilla.41​ Repitió el papel en John Wick: Capítulo 2 (2017),46​ y nuevamente en John Wick: Capítulo 3 - Parabellum (2019), ambas con muy buena recepción por parte del público y la crítica.</p>

    </div>
</body>
</html>